Options -Indexes

RewriteEngine on

# Home
RewriteRule ^$ app/controller/SiteController.php?route=home



# About / Contact Us
RewriteRule ^about/contact-us$ app/controller/AboutController.php?route=contact-us

# About / Staff
RewriteRule ^about/staff$ app/controller/AboutController.php?route=staff

# About / About Cook Counseling Center
RewriteRule ^about/about-cook$ app/controller/AboutController.php?route=about-cook

# About / Hours & Location
RewriteRule ^about/hours-and-location$ app/controller/AboutController.php?route=hours-and-location

# About / Confidentiality Policy
RewriteRule ^about/confidentiality-policy$ app/controller/AboutController.php?route=confidentiality-policy

# About / Forms
RewriteRule ^about/forms$ app/controller/AboutController.php?route=forms

# About / Outreach
RewriteRule ^about/outreach$ app/controller/AboutController.php?route=outreach

# About / Giving
RewriteRule ^about/giving$ app/controller/AboutController.php?route=giving

# About / Graduate Training
RewriteRule ^about/graduate-training$ app/controller/AboutController.php?route=graduate-training



# Services / Emergency Services
RewriteRule ^services/emergency-services$ app/controller/ServicesController.php?route=emergency-services

# Services / Schedule an Appointment
RewriteRule ^services/schedule-appointment$ app/controller/ServicesController.php?route=schedule-appointment

# Services / Process Appointment Schedule
RewriteRule ^services/schedule-appointment/process$ app/controller/ServicesController.php?route=schedule-appointment-process

# Services / Individual Counseling
RewriteRule ^services/individual-counseling$ app/controller/ServicesController.php?route=individual-counseling

# Services / Group Counseling
RewriteRule ^services/group-counseling$ app/controller/ServicesController.php?route=group-counseling

# Services / Group Counseling / List of Group Counseling Programs
RewriteRule ^services/group-counseling/group-list$ app/controller/ServicesController.php?route=group-list

# Services / Psychiatric Services
RewriteRule ^services/psychiatric-services$ app/controller/ServicesController.php?route=psychiatric-services

# Services / Sport Psychology
RewriteRule ^services/sport-psychology$ app/controller/ServicesController.php?route=sport-psychology



# Self Care / Alcoholism
RewriteRule ^self-care/alcoholism$ app/controller/SelfCareController.php?route=alcoholism

# Self Care / Atention Deficit Disorder
RewriteRule ^self-care/add$ app/controller/SelfCareController.php?route=add

# Self Care / Eating Disorders
RewriteRule ^self-care/eating-disorders$ app/controller/SelfCareController.php?route=eating-disorders

# Self Care / Sexual Assault
RewriteRule ^self-care/sexual-assault$ app/controller/SelfCareController.php?route=sexual-assault

# Self Care / Trauma
RewriteRule ^self-care/trauma$ app/controller/SelfCareController.php?route=trauma

# Self Care / Well Being
RewriteRule ^self-care/well-being$ app/controller/SelfCareController.php?route=well-being



# Academic Help / Academic Relief
RewriteRule ^academic-help/academic-relief$ app/controller/AcademicController.php?route=academic-relief

# Academic Help / Study Skills / Checklist
RewriteRule ^academic-help/study-skills/checklist$ app/controller/AcademicController.php?route=checklist

# Academic Help / Study Skills / Time Management
RewriteRule ^academic-help/study-skills/time-management$ app/controller/AcademicController.php?route=time-management

# Academic Help / Study Skills / Time Management / Where Does Time Go
RewriteRule ^academic-help/study-skills/time-management/where-does-time-go$ app/controller/AcademicController.php?route=where-time

# Academic Help / Study Skills / Time Management / Scheduling Strategies
RewriteRule ^academic-help/study-skills/time-management/scheduling-strategies$ app/controller/AcademicController.php?route=sched-strat

# Academic Help / Study Skills / Time Management / Scheduled Studying
RewriteRule ^academic-help/study-skills/time-management/scheduled-studying$ app/controller/AcademicController.php?route=sched-stud

# Academic Help / Study Skills / Environment
RewriteRule ^academic-help/study-skills/environment$ app/controller/AcademicController.php?route=environment

# Academic Help / Study Skills / SQ3R Improving Reading Comprehension
RewriteRule ^academic-help/study-skills/sq3r$ app/controller/AcademicController.php?route=sq3r

# Academic Help / Study Skills / Concentration
RewriteRule ^academic-help/study-skills/concentration$ app/controller/AcademicController.php?route=concentration

# Academic Help / Study Skills / Motivation
RewriteRule ^academic-help/study-skills/motivation$ app/controller/AcademicController.php?route=motivation

# Academic Help / Study Skills / Motivation / Motivation Checklist
RewriteRule ^academic-help/study-skills/motivation/motivation-checklist$ app/controller/AcademicController.php?route=motivation-checklist

# Academic Help / Study Skills / Note-Taking
RewriteRule ^academic-help/study-skills/note-taking$ app/controller/AcademicController.php?route=note-taking

# Academic Help / Study Skills / Note-Taking / Editing Lecture Notes
RewriteRule ^academic-help/study-skills/note-taking/lecture-notes$ app/controller/AcademicController.php?route=lecture-notes

# Academic Help / Study Skills / Recall
RewriteRule ^academic-help/study-skills/recall$ app/controller/AcademicController.php?route=recall

# Academic Help / Study Skills / Difficult Questions
RewriteRule ^academic-help/study-skills/difficult-questions$ app/controller/AcademicController.php?route=diff-questions

# Academic Help / Study Skills / Vocabulary
RewriteRule ^academic-help/study-skills/vocab$ app/controller/AcademicController.php?route=vocab

# Academic Help / Study Skills / Writing Papers
RewriteRule ^academic-help/study-skills/writing-papers$ app/controller/AcademicController.php?route=writing-papers

# Academic Help / Online Workshops
RewriteRule ^academic-help/online-workshops$ app/controller/AcademicController.php?route=online-workshops

# Academic Help / Online Workshops / Time Management Strategies Workshop
RewriteRule ^academic-help/online-workshops/time-management$ app/controller/AcademicController.php?route=time-workshop

# Academic Help / Online Workshops / Improving Test Performance Workshop
RewriteRule ^academic-help/online-workshops/test-performance$ app/controller/AcademicController.php?route=test-workshop

# Academic Help / Online Workshops / SQ3R Improving Reading Comprehension Workshop
RewriteRule ^academic-help/online-workshops/sq3r$ app/controller/AcademicController.php?route=sq3r-workshop

# Academic Help / Online Workshops / Improving Concentration/Memory
RewriteRule ^academic-help/online-workshops/concentration-memory$ app/controller/AcademicController.php?route=concentration-workshop


