Options -Indexes

RewriteEngine on

# Home
RewriteRule ^$ app/controller/SiteController.php?route=home



# About / Contact Us
RewriteRule ^about/contact-us$ app/controller/AboutController.php?route=contact-us

# About / Staff
RewriteRule ^about/staff$ app/controller/AboutController.php?route=staff

# About / About Cook Counseling Center
RewriteRule ^about/about-cook$ app/controller/AboutController.php?route=about-cook

# About / Hours & Location
RewriteRule ^about/hours-and-location$ app/controller/AboutController.php?route=hours-and-location

# About / Confidentiality Policy
RewriteRule ^about/confidentiality-policy$ app/controller/AboutController.php?route=confidentiality-policy

# About / Forms
RewriteRule ^about/forms$ app/controller/AboutController.php?route=forms

# About / Outreach
RewriteRule ^about/outreach$ app/controller/AboutController.php?route=outreach

# About / Giving
RewriteRule ^about/giving$ app/controller/AboutController.php?route=giving

# About / Graduate Training
RewriteRule ^about/graduate-training$ app/controller/AboutController.php?route=graduate-training



# Services / Emergency Services
RewriteRule ^services/emergency-services$ app/controller/ServicesController.php?route=emergency-services

# Services / Schedule an Appointment
RewriteRule ^services/schedule-appointment$ app/controller/ServicesController.php?route=schedule-appointment

# Services / Individual Counseling
RewriteRule ^services/individual-counseling$ app/controller/ServicesController.php?route=individual-counseling

# Services / Group Counseling
RewriteRule ^services/group-counseling$ app/controller/ServicesController.php?route=group-counseling

# Services / Psychiatric Services
RewriteRule ^services/psychiatric-services$ app/controller/ServicesController.php?route=psychiatric-services

# Services / Sport Psychology
RewriteRule ^services/sport-psychology$ app/controller/ServicesController.php?route=sport-psychology