@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

.vt-logo>img {
	padding: 12px 16px 12px 0;
	border-right: 3px solid #F26621;
}

.vt-logo>img, .ccc-logo>img {
	height: 75px;
}

.ccc-logo {
	padding: 4px;
	padding-left: 16px;
	height: 75px;
	flex-grow: 2;
}

.navigation-link {
	padding: 4px;
	display: flex;
}

.navigation-link:hover {
	text-decoration: none;
}

.navigation-link>i {
	padding: 4px 8px 4px 20px;
}

.navigation-link>p {
	margin: 0;
}

#navigation {
	margin-bottom: 16px;
}

.page-content {
    padding: 16px;
    width: 75%;
    position: relative;
}

.dropdown-submenu>#dropdownMenu2:after {
	margin-top: 6px;
    vertical-align: 0.255em;
    content: "";
    border-right: 0.3em solid transparent;
    border-top: 0.3em solid transparent;
    border-left: 0.3em solid;
    border-bottom: 0.3em solid transparent;
}

.accordion-button {
    font-size: 1.25rem;
    line-height: 1;
}

#universal-access>.navbar {
	height: 40px;
}
#universal-access>.navbar>.navbar-collapse {
	flex-direction: row-reverse;
}
#universal-access .dropdown-menu {
	left: -55px;
}

h1 {
    color:  #861F40;
}

html {
    position: relative;
    min-height: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
}

.input-width {
    width: 500px;
}

#selectCounselor {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#appointment-datetime {
	margin-top: 32px;
	margin-bottom: 32px;
}

#timeForm {
	margin-left: 32px;
}

#timeForm p {
	margin-bottom: 8px;
}

#timeForm .time-buttons {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 32px;
}

#timeForm .time-buttons button {
	margin-bottom: 4px;
    margin-right: 4px;
}

.flatpickr-calendar {
	margin-bottom: auto;
}

.hidden-display {
    display: none;
}

.rotate {
	transform: rotate(45deg);
}

#accordion .accordion-button:focus, 
#accordion .accordion-button:hover {
	text-decoration: none;
}

#accordion .accordion-button p {
	flex-grow: 2;
	text-align:left;
	margin: 0;
}

#accordion .accordion-button {
	display: flex;
	width: 100%;
}


* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}
html,
body {
 height: 100%;
 position: relative;
}
.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 205px;  /* height of your footer  */
}
footer {
 position: absolute;
 bottom: 0;
 width: 100%;
}